<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beluga.com.unityandroidport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="beluga.com.unityandroidport.port"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity
            android:name="com.hosengamers.beluga.loginpage.AuthClientActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="com.hosengamers.beluga.loginpage.Changepassword"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hosengamers.beluga.loginpage.Registration"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.hosengamers.beluga.loginpage.Fastregistration"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.hosengamers.beluga.payment.mol.MOLActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
         
         <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        <activity
            android:name="com.hosengamers.beluga.payment.iab.InAppBillingActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.hosengamers.beluga.payment.mycard.MyCardActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
         <activity
          android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
         
         <service android:name="com.hosengamers.beluga.service.BelugaService"
             android:configChanges="keyboardHidden|orientation|screenSize"/>
         
         <activity
            android:name="com.hosengamers.beluga.service.BelugaServiceActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
         
         <activity
            android:name="com.hosengamers.beluga.invite.FacebookFriendsInviteActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            
        </activity>
        
         <activity
            android:name="com.hosengamers.beluga.invite.FacebookGameInviteActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
          <provider android:authorities="com.facebook.app.FacebookContentProvider1797395940498411"
          android:name="com.facebook.FacebookContentProvider"
          android:exported="true"/>
        
         <activity
            android:name="com.hosengamers.beluga.share.FacebookShare"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <!-- Google Mobile Ads Activity -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/gpg_app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <activity
            android:name="com.hosengamers.beluga.gpg.GpgActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity android:name="com.hosengamers.beluga.unity.port"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />

        </activity>

    </application>


</manifest>
